[Unit]
Description=VC WiFi Tracking Service
After=network.target

[Service]
Type=simple
User=vc-wifitracking
Group=vc-wifitracking
WorkingDirectory=/opt/vc-wifitracking
EnvironmentFile=/etc/default/vc-wifitracking
ExecStartPre=/usr/sbin/ip link set ${INTERFACE} down
ExecStartPre=/usr/sbin/iw dev ${INTERFACE} set type monitor
ExecStartPre=/usr/sbin/ip link set ${INTERFACE} up
ExecStart=/usr/bin/python3 /opt/vc-wifitracking/app.py ${INTERFACE}
ExecStopPost=/usr/sbin/ip link set ${INTERFACE} down
ExecStopPost=/usr/sbin/iw dev ${INTERFACE} set type managed
ExecStopPost=/usr/sbin/ip link set ${INTERFACE} up

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW

Restart=on-failure

[Install]
WantedBy=multi-user.target
